{{template "base" .}}

{{define "title"}}Создание новой темы{{end}}

{{define "main"}}
{{if .Errors }}
    {{ range .Errors }}
    <ul>
        <li style = "color: red;">{{ . }}</li>
    </ul>
    {{ end }}
{{ end }}
<div class="container">
<form action = "/add_topic" method = "post">
    <textarea class = "text" type = "text" name = "name" id = "name" placeholder = "Введите название темы:">{{ .TopicName.Name }}</textarea><br>
    <button class = "button">Добавить тему</button>
</form>
</div>

{{end}}